@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased bg-gradient-to-b from-zinc-900 via-slate-800 to-zinc-900 text-white;
  }
}

@layer components {
  .card {
    @apply bg-zinc-800 shadow-lg rounded-lg p-4;
  }

  .button {
    @apply bg-gradient-to-r from-purple-600 to-blue-500 text-white font-semibold py-2 px-4 rounded hover:from-purple-700 hover:to-blue-600;
  }

  .icon-button {
    @apply text-zinc-400 hover:text-white;
  }
}

@layer utilities {
  .shadow-soft {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .gradient-text {
    background: linear-gradient(to right, #a855f7, #3b82f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .dark-theme {
    @apply bg-zinc-900 text-zinc-300;
  }
}